footer {
	background: $primary;
	padding: 0;

	.row {padding: 40px 20px 20px;}

	a.logo {
		color: $white;
		margin-top: 19px;
		float: left;
		font-size: 1.5em;
	}

	h5, p, .copyright a, .copyright {color: $white;}

	.copyright {
		padding: 15px 35px;
		background: rgba(0, 0, 0, 0.1);
		font-size: .9em;
	}
}