.button
{
  background: none;
  border: 2px solid;
  border-radius: 30px;
  padding: 13px 23px;
  color: #5A5869;
  text-transform: uppercase;

  &:before {
    color: $white;
    font-family: "FontAwesome";
    content: "\f013";
    display: inline-block;
    margin-right: -15px;
    opacity: 0;
    @include transition(.2s);
    @include animation(fa-spin 2s infinite linear);
  }

  &.send-message:before {
    content: "\f1d8";
    @include animation(none);
  }

  &:hover, &:focus, &:active {
    background: $primary;
    border-color: darken($primary, 3%);
  }

  &:hover:before {
    opacity: 1;
    margin-right: 15px;
  }
}

.go-top {
  @include transition(.2s);
  cursor: pointer;
  background: #424050;
  position: fixed;
  bottom: 20px;
  right: 35px;
  z-index: 100;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 49px;
  border-radius: 50%;
  display: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);

  &:hover {
    @include transform(translateY(-5px));
    box-shadow: 0 14px 8px -2px rgba(0, 0, 0, 0.3);
  }
}