form
{
	.input-wrapper
	{
		input, input:focus,
		select, select:focus,
		textarea, textarea:focus {
			background: #fff;
			border: none;
			outline: none;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
			padding: 20px;
			@include transform(scale(1));
			@include transition(.2s);
		}

		input,textarea,select {
			&:focus {
				@include transform(scale(1.04));
				box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
			}
		}

		input, select {height: 54px;}
	}

	.button-wrapper {
		text-align: center;
		margin-top: 20px;
	}
}