@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$main-font: "Open Sans", sans-serif;
$title-font: "Raleway", sans-serif;

h1,h2,h3,h4,h5,h6 {
	font-family: $title-font;
	font-weight: bold;
	color: $primary;
	small {font-weight: 300;}
}